name: Nexus CI/CD

on:
    workflow_dispatch:
    push:
        branches:
            - dev

jobs:
    Containerize-job:
        runs-on: ubuntu-latest
        if: contains(github.event.head_commit.message, 'no-deploy') == false
        outputs:
            repo_owner_lower: ${{ steps.lowercase.outputs.repo_owner_lower }}
        steps:
            - uses: actions/checkout@v4
            
            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}
            
            - name: Convert repository owner to lowercase
              id: lowercase
              run: |
                  echo "repo_owner_lower=$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')" >> "$GITHUB_OUTPUT"
            
            - name: Setup docker build
              uses: docker/setup-buildx-action@v3 

            # --- BUILD BACKEND ---
            - name: Build and push Backend
              uses: docker/build-push-action@v5
              with:
                context: ./backend
                file: ./backend/Dockerfile
                push: true
                tags: ghcr.io/${{ steps.lowercase.outputs.repo_owner_lower }}/nexus-be:v1-${{ github.sha }}

            # --- BUILD FRONTEND ---
            - name: Build and push Frontend
              uses: docker/build-push-action@v5
              with:
                context: ./frontend
                file: ./frontend/Dockerfile
                push: true
                tags: ghcr.io/${{ steps.lowercase.outputs.repo_owner_lower }}/nexus-fe:v1-${{ github.sha }}
          
    Deploy-job:
      if: false 
      needs: 
        - Containerize-job
      runs-on: ubuntu-latest
      steps:
        - name: Log in to Azure
          uses: azure/login@v1
          with:
            creds: ${{ secrets.AZURE_CRED }}

        # --- DEPLOY BACKEND ---
        - name: Deploy Backend to Web App
          uses: azure/webapps-deploy@v2
          with:
            app-name: 'nexus-be' 
            images: 'ghcr.io/${{ needs.Containerize-job.outputs.repo_owner_lower }}/nexus-be:v1-${{ github.sha }}' 

        # --- DEPLOY FRONTEND ---
        - name: Deploy Frontend to Web App
          uses: azure/webapps-deploy@v2
          with:
            app-name: 'nexus-fe'
            images: 'ghcr.io/${{ needs.Containerize-job.outputs.repo_owner_lower }}/nexus-fe:v1-${{ github.sha }}'